.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .imgBox {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.04);
    }
  }

  .pcTerminal {
    @include module3;
    height: 560px;
    min-height: 560px;
  }
  .mobileTerminal {
    @include module3;
    height: 440px;
    min-height: 440px;
  }
  .icons {
    @include module3;
    height: 510px;
    min-height: 510px;
  }
}
