.container {
  width: 100vw;
  height: 100vh;
  .container_content {
    width: 100vw;
    height: 100vh;
    display: block;
    min-width: 1200px !important;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
