.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  img {
    object-fit: cover;
  }

  &:hover {
    transform: scale(1.04);
  }
}
