.container {
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  position: relative;

  .topFloor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    .left {
      height: 28px;
      padding-left: 6px;
      border-left: 4px solid #4b805a;
      font-size: 28px;
      line-height: 28px;
      font-family: "SourceHanSansCN-Bold";
      font-weight: 600;
      color: #111111;
    }

    .right {
      height: 100%;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      padding: 0 16px;
      cursor: pointer;
      color: #8a8a8a;
      border: 1px solid #8a8a8a;

      &:hover {
        color: #4b805a;
        border: 1px solid #4b805a;
      }
    }
  }

  $fontSize: 40px;
  .englishTitle {
    position: absolute;
    top: 2px - $fontSize;
    left: -4px;
    height: $fontSize + 4px;
    font-size: $fontSize;
    opacity: 0.3;
    font-family: "HarmonyOS_Sans_Thin";
    font-weight: 300;
    background-image: linear-gradient(to bottom, #000000, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    z-index: 1;
  }
}
