.container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;

  img {
    object-fit: cover;
  }

  &:hover {
    transform: scale(1.04);
  }
}
