.container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  img {
    object-fit: cover;
  }

  &:hover {
    transform: scale(1.04);
  }
}
