.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .shopHomepage {
    @include module2;
  }
  .banner {
    @include module2;
  }
  .masterMap {
    @include module2;
  }
  .detail {
    @include module2;
    margin-bottom: 50px;
  }
}
